.logo {
    width: 200px;
    padding: 7px;
    padding-top: 0px;
}
.button
{
    align-items: center;
    padding-top: 0%;
    padding-left: 40%;
}
.button .btn.btn-secondary {

    font-size: 20px;
    border-radius: 5px;
    background-color:white;
    color: red;
    border: 2px solid red;
    width: 90px;
    height: 40px;
}
.button .form-control.form-control-borderless {
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    color: red;
    border: 2px solid red;
    width: 240px;
    height: 40px;
}
.navbar {
    margin: auto;
    width: 90%;
    padding left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0%;
}
.flex-container {
    padding-left: 8%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    text-align: left;
}
.imgg img {
    width: 400px;
    height: 550px;
    
}
.img {
    margin: 50px;
    padding-left: 500px;
}
